<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas Oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register"></a>Crea tu cuenta <i class="far fa-id-card"></i>
                </li>
                <li><a href="/login"></a>Ingresa <i class="fas fa-sign-in-alt"></i></li> 
                <li><a href=""></a>Mis compras <i class="fas fa-shopping-basket"></i></li>

            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <form action="/crear-producto" method="POST" class="create-form">
        <label><h2>Crea tu cuenta</h2></label>
        <div class="control-formulario">
            <input type="text" name="name" class="control1" placeholder="Nombre y Apellido"></imput>
        </div>
        <div class="control-formulario">
            <input type="text" name="user" class="control1" placeholder="Nombre de Usuario"></imput>
        </div>
        <div class="control-formulario">
            <input type="text" name="email" class="control1" placeholder="E-mail"></imput>
        </div>
        <div class="control-formulario">
            <label><h1>Fecha de nacimiento</h1></label>
            <input type="date" name="birth-date" class="control1"></imput>
        </div>
        <div class="control-formulario">
            <input type="text" name="adress" class="control1" placeholder="Domicilio"></imput>
        </div>

        <div class="control-formulario">
            <label><h1>Perfil de usuario</h1></label>
            <div class="radio-buttons">
            <input type="radio" name="profile" value="buy" id="buy"></imput>
            <label>Comprador</label>
            <input type="radio" name="profile" value="sell" id="sell"></imput>
            <label>Vendedor</label>
            </div>
        </div>

        <div class="control-formulario">
            <label><h1>Intereses:</h1></label>
            <div class="radio-buttons-square">
                <div class="radio-buttons-square-format">
                    <input type="checkbox" name="interests" value="electro"></imput>
                    <label>Electro</label>
                </div>
                <div  class="radio-buttons-square-format">
                    <input type="checkbox" name="interests" value="moda"></imput>
                    <label>Moda</label>
                </div>
                <div  class="radio-buttons-square-format">
                    <input type="checkbox" name="interests" value="hogar"></imput>
                    <label>Hogar</label>
                </div>
                <div  class="radio-buttons-square-format">
                    <input type="checkbox" name="interests" value="juguetería"></imput>
                    <label>Jugueteria</label>
                </div>
                <div  class="radio-buttons-square-format">
                    <input type="checkbox" name="interests" value="Vidasana"></imput>
                    <label>Vida Sana</label>
                </div>
            </div>
        <div class="control-formulario">
            <label><h1>Elegi tu foto de Usuario</h1></label>
            <input type="file" name="avatar" alt="Subir" accept=".jpg"></imput>
        </div>
        <div class="control-formulario">
            <input type="password" name="contraseña" class="control1" placeholder="Elegi tu Contraseña"></imput>
        </div>
        <div class="control-formulario">
            <input type="password" name="pass" class="control1" placeholder=" Confirmar Contraseña"></imput>
        </div>
        <div class="control-formulario">    
            <button type="submit" class="pass-confirm">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
            </div>
            </div>
    </form>

    <footer>
        <div class="ft-bloque">

        <br></br>
        <br></br>
        <br></br>

        <article class="articulosFooter">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <br></br>

        <article class="articulosFooter">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <br></br>

        <article class="articulosFooter">
            <i class="fas fa-user-shield"></i>
             <h4>Seguridad, de principio a fin</h4>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
       </article>
        </div>
        <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>